* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: "Be Vietnam Pro", sans-serif;
    line-height: 1.5;
    background-color:  var(--bg-white);
    color: var(--fc-blue-dark);
}

:root {
    --fs-h1: 2.25rem;
    --fs-h2: 2rem;
    --fs-label: 1.25rem;
    --fs-body-text: 1rem;
    --fs-btn: 1rem;
    --fw-regular: 400;
    --fw-bold: 700;
    --fc-white: #FFFFFF;
    --fc-blue: #4138C2;
    --fc-green: #5EC269;
    --fc-red: #E14F62;
    --fc-yellow: #E2B53E;
    --fc-orange: #E87B35;
    --fc-sky: #4E80EE;
    --fc-violet: #9D59EF;
    --fc-blue-light: #52B3D0;
    --fc-blue-dark: #121826;
    --bg-blue-bright: #4138C2;
    --bg-blue: #C9D2FA;
    --bg-green: #E2FBE8;
    --bg-red: #FBE5E6;
    --bg-yellow: #FDF9C9;
    --bg-orange: #FCEED8;
    --bg-sky: #DEE9FC;
    --bg-violet: #F1E8FD;
    --bg-blue-light: #D5FAF1;
    --bg-white: #FFFFFF;
}

.text--h1 { font-size: var(--fs-h1); }
.text--h2 { font-size: var(--fs-h2); }
.text--label { font-size: var(--fs-label); }
.text--body-text { font-size: var(--fs-body-text); }
.text--btn { font-size: var(--fs-btn); }

.text--h1,
.text--h2,
.text--label,
.text--btn { font-weight: var(--fw-bold);}
.text--body-text { font-weight: var(--fw-regular); }

.text--white { color: var(--fc-white); }
.text--blue { color: var(--fc-blue); }
.text--green { color: var(--fc-green); } 
.text--red { color: var(--fc-red); }
.text--yellow { color: var(--fc-yellow); }
.text--orange { color: var(--fc-orange); }
.text--sky { color: var(--fc-sky); }
.text--violet { color: var(--fc-violet); }
.text--blue-light { color: var(--fc-blue-light); }
.text--blue-dark { color: var(--fc-blue-dark);}

.bg--blue-bright {background-color: var(--bg-blue-bright);}
.bg--blue { background-color: var(--bg-blue); }
.bg--green { background-color: var(--bg-green); } 
.bg--red { background-color: var(--bg-red); }
.bg--yellow { background-color: var(--bg-yellow); }
.bg--orange { background-color: var(--bg-orange); }
.bg--sky { background-color: var(--bg-sky); }
.bg--violet { background-color: var(--bg-violet); }
.bg--blue-light { background-color: var(--bg-blue-light); }
.bg--white { background-color: var(--bg-white); }


.wrapper {
    width: 100%;
    max-width: calc(100% - 2 * clamp(16px, 5vw, 72px));
    margin: 0 auto;
}

.header {
    padding-top: clamp(16px, 2vw, 24px);
    padding-bottom: clamp(16px, 2vw, 24px);
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-white);
}

.header__logo {
    width: 32px;
    height: 32px;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 12px 36px;
    border-radius: 20px;
    transition: background .2s;
}

.btn--white {
    color: var(--fc-blue);
    background-color: var(--bg-white);
    border: 2px solid #9DA3AE50;
}

.btn--blue {
    color: var(--fc-white);
    background-color: var(--bg-blue-bright);
    border: 2px solid transparent;
}

.btn--white:hover {
    background-color: var(--bg-blue);
    border: 2px solid transparent;
}

.btn--blue:hover {
    background-color: #0f0872;
}



.section__promo {
    padding: 32px 0;
}

.promo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.promo__content {
    width: 600px;
}

.promo__content-text {
    margin: 32px 0;
}

.promo__content-btns {
    display: flex;
    gap: 12px;
}

.promo__img {
    width: 100%;
}



.section__info {
    padding: 78px 0 144px;
}

.info__title,
.create__start {
    width: 100%;
    max-width: 430px;
    text-align: center;
    margin: 0 auto;
}
.info__benefits {
    display: flex;
    flex-wrap: wrap;
    gap: 64px 0;
    margin-top: 64px;
}
.info__benefits-item {
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.info__benefits-label {
    text-align: center;
}

.info__benefits-emoji {
    display: block;
    width: 72px;
    height: 72px;
    padding: 24px;
    text-align: center;
    border-radius: 20px;
}



.section__create {
    padding: 188px 0;
    background: url(resources/footer_background_image@2x.png) center/cover no-repeat;
}

.create__title {
    margin-bottom: 24px;
}



.section__footer {
    background-color: var(--fc-blue-dark);
    padding: 24px 0;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.footer__link {
    text-decoration: none;
}



@media (max-width: 1024px) {
    .promo__content {
        width: 400px;
    }
    .section__create {
        background-size: cover;
    }
}
@media (max-width: 1023px) {
    .info__benefits-item {
        flex: 0 0 50%;
    }
}
@media (max-width: 640px) {
    .section__info {
        padding-top: 104px;
    }
    .promo__content {
        width: 350px;
    }
    .promo {
        flex-direction: column-reverse;
        align-items: start;
    }
    .footer__company {
        width: 100%;
    }
}
